<div class="span-5">
 &nbsp
</div>
<div class="span-8">
  <h1> Logos for Business Professionals</h1>
  <p>
  Simply fill out a two-minute online questionaire so we can design the right logo for you. Within 24 hours you will receive five logos to choose from.
</p>
  <div id="start" class="button" onclick="foo();">Get Started</div>
</div>
<div id="main" class="span-7 last">
</div>

