.container {
  width: 960px;
}

body {
  background: white;
  background-image: url("bizcard.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 640px;
  height: 400px;
  font-family: "Times New Roman, Times, Serif";
  color: #3F3F3F;
}

#main{
}

header {
  padding-top: 1em;
}

header img {
  background: #fff;
  margin-left: 1em;
}

section {
  margin-top: 1em;
  font-size: 130%;
  clear:both;
  margin-left: 110px;
}

section h1 {
  font-size: 150%;
}

/* Links */

a {
  color: #202020;
  text-decoration: none;
}

a: hover {
  color: #069;
  text-decoration: underline;
}

a: visited {
  color: #202020;
}


/* Navigation */

nav {
  background-color: white;
  white-space: nowrap;
}

.navBox {
  cursor: pointer;
  width: 7em;
  background-color: #E0E0E0;
  margin-right: 1em;
  float: right;
  text-align: center;
  font-family: "Times New Roman, Times, Serif";
  font-size: 1.3em;
  padding: 3px 0 3px 0;
  color: #3F3F3F;
}

.navBox:hover {
  background-color: #AAAAAA;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.signIn {
  font-size: 1.2em;
  font-family: calibri, helvetica, arial, sans-serif;
  font-weight: bold;
  float: right;
  margin-left: 15px;
}

.signIn:visited {
}

/* Sign up button */

#start {
  display: block;
  width: 290px;
  font-size: 160%;
  font-weight: bold;
  border: 1px solid #14D7FF;
  padding:10px;
  margin-left: 0;
}

.button {
  cursor: pointer;
  background-color: #E0E0E0;
  margin: .5em;
  text-align: center;
  padding: 3px 0 3px 0;
  color: #3F3F3F;
}

.button:hover {
  background-color: #AAAAAA;
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  clear: both;
  position: absolute;
  bottom: 10px;
}

footer nav {
  clear: both;
}
#testDiv {
  width:230px;
  height: 130px;
  background-color: blue;
  position: absolute;
  display: none;
}
