<h1> Get a professional logo in 24 hours</h1>
<p>
 Take our 2-minute online design questionaire and let our designers know about your needs and business message.  We'll give you five logo choices within 24 hours.
</p>

<%= link_to "Get Started", '#', :class => "start_button round" %>

